<app-nav-bar></app-nav-bar>
<div class="returnHome">
  <button class="homeBtn" [routerLink]="['/home']"> Return Home </button>
</div>
<div class="header"> 
  <h1> Appointment Data </h1>
</div>
<table>
  <tr>
    <th>Date</th>
    <th>ID</th>
    <th>Reason</th>
    <th></th>
  </tr>
  <app-appointment-row *ngFor="let appointment of appointments" [appointment]="appointment"></app-appointment-row>
</table>
<div class="input">
  <input type="date" placeholder="Date">
  <input type="text" placeholder="ID">
  <input type="text" placeholder="Reason">
  <button class="homeBtn" id="newAppointment"> ADD NEW </button>
</div>
