<app-nav-bar></app-nav-bar>
<div class="returnHome">
  <button class="homeBtn" [routerLink]="['/home']"> Return Home </button>
</div>
<div class="header"> 
  <h1> Illness Data </h1>
</div>
<table>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th></th>
    </tr>
    <tr>
      <td>test</td>
      <td>test</td>
      <td class="edit">
        <button class="btngroup">Delete</button>
      </td>
    </tr>
  </table>
  <div class="input">
    <input type="date" placeholder="Date">
    <input type="text" placeholder="ID">
    <input type="text" placeholder="Reason">
    <button class="homeBtn"> ADD NEW </button>
  </div>
  
  