* {
    font-family: sans-serif;
    color: #021A54;
}
.returnHome {
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
    padding-top: 15px;
   }

.homeBtn {
    border-radius: 12px;
    font-size: 16px;
    color:white;
    background-color: #021A54;
    font-size: 20px;
    width: 150px;
    height: 40px; 
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: sans-serif;
  }
  
th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

tr:hover {
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.edit {
    padding-left: 15px;
    width: 20%;
}

.btngroup {
    border-radius: 12px;
    color: white;
    background-color: #021A54;
    font-size: 10px;
    margin: 5px;
    width: 30%;
    padding: 5px;
}

.input {
    display: flex;
    justify-content: space-evenly; 
    width: 100%;
    padding-top: 40px;
    font-size: 14px;
}