<app-nav-bar></app-nav-bar>
<div class="returnHome">
  <button class="homeBtn" [routerLink]="['/home']"> Return Home </button>
</div>
<div class="header"> 
  <h1> Illness Data </h1>
</div>
<table>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th></th>
    </tr>
    <app-illness-row *ngFor="let illnes of illness" [illness]="illness"></app-illness-row>
  </table>
  <div class="input">
    <input type="text" placeholder="ID">
    <input type="text" placeholder="Name">
    <button class="homeBtn"> ADD NEW </button>
  </div>
  
  