<app-nav-bar></app-nav-bar>
<div class="returnHome">
  <button class="homeBtn" [routerLink]="['/home']"> Return Home </button>
</div>
<div class="header"> 
  <h1> Medication Data </h1>
</div>
<table>
    <tr>
      <th>Genaric Name</th>
      <th>ID</th>
      <th>Dosage</th>
      <th></th>
    </tr>
    <app-medication-row *ngFor="let medication of medications" [medication]="medication"></app-medication-row>
  </table>
  <div class="input">
    <input type="text" placeholder="Name">
    <input type="text" placeholder="ID">
    <input type="text" placeholder="Dosage">
    <button class="homeBtn"> ADD NEW </button>
  </div>
