<app-nav-bar></app-nav-bar>
<div class="returnHome">
  <button class="homeBtn" [routerLink]="['/home']"> Return Home </button>
</div>
<div class="header"> 
  <h1> Patient Data </h1>
</div>
<table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Middle Inital</th>
      <th>Date of Birth</th>
      <th>SSN</th>
      <th></th>
    </tr>
    <tr>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td class="edit">
          <button class="btngroup">Edit</button>
          <button class="btngroup">Delete</button>
        </td>
    </tr>
    <tr>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td class="edit">
            <button class="btngroup">Edit</button>
            <button class="btngroup">Delete</button>
          </td>
      </tr>
  </table>